body{
    background-image: url(../images/haikei.jpg);
    background-size: cover;
    background-attachment: fixed;
}
h2.ue{
    text-align: center;
    margin-top: 50px;
}
div.bar{
    width: 1000px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

span.0{
    display: inline-block;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

span.1{
    display: inline-block;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

span.2{
    display: inline-block;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

span.3{
    display: inline-block;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

div.main{
    width: 1000px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}
span.takagisan{
    display: inline-block;
    width: 330px;
    margin-left: auto;
    margin-right: auto;
   }
span.odopon{
    display: inline-block;
    width: 330px;
    margin-left: auto;
    margin-right: auto;
}
span.suraimu{
    display: inline-block;
    width:320px;
    margin-left: auto;
    margin-right: auto;
}