h1{
    color:white;
    background-color:aqua;
    text-align: center;
    font-size:60px;
}
h3{
    color:red;
    background-color: aquamarine
}
body{
    background-image: url(../kadai-images/50.jpg);
    background-attachment: fixed;
    background-size: cover
}